<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Estudiantes      
      <button class="btn btn-success
		     fa fa-plus
		     button-title"
	      title="Agregar"
	      ng-click="studentsVm.newStudent()">
      </button>
      <input
	 type="file"
	 fileread="studentsVm.fileSelected(files)"
	 id="file"
	 accept="file_extension">
      <button class="btn
		     btn-info
		     fa
		     fa-upload
		     button-title"
	      title="Subir archivo"
	      ng-click="studentsVm.selectFile()">
      </button>
      <button class="btn
		     btn-danger
		     fa
		     fa-close
		     button-title"
	      title="Borrar todos los estudiantes"
	      ng-click="studentsVm.removeAllUsers()">
      </button>
    </h1>
  </div>  
</div>
<div class="row">
  <div class="col-lg-12">  
    <div class="form-group">
      <input placeholder="Buscar aquí"
	     type="text"
	     class="form-control
		    text-no-radius
		    textfield-no-border"
	     ng-model="search"/>
    </div>
    <table class="table">
      <thead>
	<tr>
	  <th data-sort-initial="true">
            Documento
	  </th>
	  <th>
            Nombre y apellidos
	  </th>
	  <th>
            Grado
	  </th>
	  <th>
            Grupo
	  </th>
	  <th colspan="3" data-sort-ignore="true">
	  </th>
	</tr>
      </thead>
      <tbody>
	<tr class="alternate-color"
	    ng-repeat="student
		       in
		       students | filter : search">
	  <td>{{student.profile.document}}</td>
	  <td>{{student.profile.name}}</td>
	  <td>{{student.profile.grade}}</td>
	  <td>{{student.profile.group}}</td>
	  <td style="width: 10%">
	    <a
	       href="{{$root.urlServer + student.profile.previewImg}}"
	       target="_blank">
	      <img
		 ng-if="student.profile.previewImg"
		 ng-src="{{$root.urlServer + student.profile.previewImg}}"
		 class="img-reponsive img-list">
	    </a>
	  </td>
	  <td>
	    <button title="Modificar"
		    class="btn
			   btn-warning
			   fa
			   fa-pencil"
		    ng-click="studentsVm.editStudent(student)">
	    </button>
	  </td>	
	  <td>
	    <button title="Eliminar"
		    class="btn
			   btn-danger
			   fa
			   fa-close"
		    ng-click="studentsVm.removeStudent(student)">
	    </button>
	  </td>	
	</tr>
      </tbody>
    </table>
  </div>
</div>

