/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
  text-decoration: none;
  background-color: #eee;
}

.textfield-no-border {
  border-radius: 4px 4px 0 0;
}

.cursor-pointer{
  cursor: pointer;
}

.profile-image {
  margin-top: -11px;
  width: 40px;
  border-radius: 50%;
}

.navbar-top-links li a {
  max-height: 50px;
}

tr.alternate-color:nth-child(2n){
  background: none repeat scroll 0% 0% #ECECEC;
}

.button-title {
  float: right;
  margin: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.button-as {
  float: left;
  margin-top: 15px;
}

.huge-2 {
  font-size: 15px;
  font-weight: bold;
}

.img-list {
  width: 45%;
  height: 37px;
  border-radius: 50%;
}

.img-candidate {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

#box {
  cursor: pointer;
}

#overlay {
  background: rgba(0,0,0,.75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

#box:hover #overlay {
  opacity:1;
}

#plus {
  font-family:Helvetica;
  font-weight:900;
  color:rgba(255,255,255,.85);
  font-size:96px;
}

.bg-color {
  background-color: rgb(183, 178, 178);
}

.ellipsis-lu {
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  width: 22%;
  margin-top: -9px;
  margin-left: 22px;
}
