<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Candidatos a Contralor      
    </h1>
  </div>  
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="form-group col-md-12">
      <label for="name">
	Seleccione los estudiantes candidatos a contralor:
      </label>
      <ui-select theme="bootstrap"
		 multiple
		 ng-model="comptrollersVm.comptrollerCandidates"
		 class="form-control"
		 on-select="comptrollersVm.addCandidates($item)"
		 on-remove="comptrollersVm.removeCandidates($item)">
	<ui-select-match placeholder="Seleccione estudiantes">
          {{$item.profile.name}}
	</ui-select-match>
	<ui-select-choices repeat="user in (comptrollersVm.students | filter: $select.search) track by user._id">
          <span ng-bind="user.profile.name"></span><br>
	  <small>
	    {{user.profile.document}}
	  </small>
	</ui-select-choices>
      </ui-select>
    </div>
    <div ng-repeat="candidate in comptrollersVm.comptrollerCandidates" class="col-lg-3 col-md-6 ng-isolate-scope" number="12" comments="New tasks!" colour="primary" type="user">
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-user fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge-2">{{candidate.profile.name}}</div>
              <div>{{candidate.profile.document}}</div>
            </div>
          </div>
        </div>
        <a>
          <div class="panel-footer">
            <span class="pull-left">{{candidate.profile.grade}} - {{candidate.profile.group}}</span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

