<div class="row">
  <div class="col-lg-6">
    <h1 class="page-header">
      Vote por personero
      <span
	 ng-if="$root.loggedUser.profile.isAdmin === true">
	<button 
	   class="btn
		  btn-info
		  fa
		  fa-refresh
		  button-title"
	   title="Reiniciar votaciones"
	   ng-click="homeVm.refreshRating(1)">
	</button>
	<button 
	   class="btn
		  btn-warning
		  fa
		  fa-pause
		  button-title"
	   title="Pausar votaciones"
	   ng-click="homeVm.stopRating(1)">
	</button>
	<button 
	   class="btn btn-success
		  fa fa-play
		  button-title"
	   title="Iniciar votaciones"
	   ng-click="homeVm.startRating(1)">
	</button>
      </span>
    </h1>
    <div class="col-lg-12">
      <div ng-repeat="candidatePersonero in
		      homeVm.personerosList.usersInformation"
	   class="col-lg-6
		  ng-isolate-scope"
	   number="12"
	   comments="New tasks!"
	   colour="primary" type="user">
	<br>
	<div
	   id="box"
	   ng-click="homeVm.rate(candidatePersonero, 1)">
	  <div
	     class="panel panel-primary"
	     style="position: relative;
		    height: 147px">
            <div class="panel-heading">
              <div class="row">
		<div class="col-xs-3">
		  <img
		     ng-if="candidatePersonero.profile.previewImg"
		     ng-src="{{$root.urlServer + candidatePersonero.profile.previewImg}}"
		     class="img-reponsive img-candidate">
		  <i ng-if="!candidatePersonero.profile.previewImg" class="fa fa-user fa-5x"></i>
		</div>
		<div class="col-xs-9 text-right">
		  <div class="huge-2">{{candidatePersonero.profile.name}}</div>
		  <div>{{candidatePersonero.profile.document}}</div>
		</div>
	      </div>
	    </div>
	    <a>
              <div class="panel-footer">
		<span class="pull-left">{{candidatePersonero.profile.grade}} - {{candidatePersonero.profile.group}}</span>
		<div class="clearfix"></div>
              </div>
            </a>
	    <div id="overlay" ng-if="loggedUser.profile.canVoteByPersonero">
	      <span id="plus"><i class="fa fa-check"></i></span>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h1 class="page-header">
      Vote por contralor
      <span
	 ng-if="$root.loggedUser.profile.isAdmin === true">
	<button 
	   class="btn
		  btn-info
		  fa
		  fa-refresh
		  button-title"
	   title="Reiniciar votaciones"
	   ng-click="homeVm.refreshRating(2)">
	</button>
	</button>
	<button
	   class="btn
		  btn-warning
		  fa
		  fa-pause
		  button-title"
	   title="Pausar votaciones"
	   ng-click="homeVm.stopRating(2)">
	</button>
	<button
	   ng-if="$root.loggedUser.profile.isAdmin === true"
	   class="btn btn-success
		  fa fa-play
		  button-title"
	   title="Iniciar votaciones"
	   ng-click="homeVm.startRating(2)">
	</button>
      </span>
    </h1>
    <div class="col-lg-12">
      <div ng-repeat="candidateComptroller in
		      homeVm.comptrollerList.usersInformation"
	   class="col-lg-6
		  ng-isolate-scope"
	   number="12"
	   comments="New tasks!"
	   colour="primary" type="user">
	<br>
	<div
	   id="box"
	   ng-click="homeVm.rate(candidateComptroller, 2)">
	  <div
	     class="panel panel-primary"
	     style="position: relative;
		    height: 147px">
            <div class="panel-heading">
              <div class="row">
		<div class="col-xs-3">
		  <img
		     ng-if="candidateComptroller.profile.previewImg"
		     ng-src="{{$root.urlServer + candidateComptroller.profile.previewImg}}"
		     class="img-reponsive img-candidate">
		  <i ng-if="!candidateComptroller.profile.previewImg" class="fa fa-user fa-5x"></i>
		</div>
		<div class="col-xs-9 text-right">
		  <div class="huge-2">{{candidateComptroller.profile.name}}</div>
		  <div>{{candidateComptroller.profile.document}}</div>
		</div>
	      </div>
	    </div>
	    <a>
              <div class="panel-footer">
		<span class="pull-left">{{candidateComptroller.profile.grade}} - {{candidateComptroller.profile.group}}</span>
		<div class="clearfix"></div>
              </div>
            </a>
	    <div id="overlay" ng-if="loggedUser.profile.canVoteByComptroller">
	      <span id="plus"><i class="fa fa-check"></i></span>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>  
</div>
